@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

select {
  appearance: none;
  cursor: pointer;
}

.photoshop-picker>div:last-child {
  padding: 15px !important;
}

*,
*::after,
*::before {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

input,
textarea {
  user-select: initial;
  -webkit-user-select: initial;
  cursor: initial;
}


.schema-content {
  height: 200px;
}

.schema-content div[data-slot="input-wrapper"] {
  height: 100% !important;
}

.schema-content textarea[data-slot="input"] {
  height: 100% !important;
}
